<a href="https://colab.research.google.com/github/SachinScaler/July24Python2/blob/main/Functional_Programming_1_Basics%7CLecture.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Q: Given a list of Numbers, Generate a new list of squares of numbers:

input:
numbers = [1, 2, 3, 4]

output:
numbers = [1, 4, 9, 16]

In [1]:
def square_nums(input_list): # how to do
    for i in range(len(input_list)):
        input_list[i] = input_list[i] * input_list[i]

    return input_list

ll1 = [1, 2, 3, 4]
out = square_nums(ll1)
print(out)

[1, 4, 9, 16]

In [2]:
ll1

[1, 4, 9, 16]

In [3]:
out

[1, 4, 9, 16]

In [4]:
ll1 = [1, 2, 3, 4]
out = list(map(lambda x: x**2, ll1)) # what to do
print(out)

[1, 4, 9, 16]

In [5]:
ll1

[1, 2, 3, 4]

Q Write a Function to take two numbers as input and return sum of the numbers

In [8]:
sum_func = lambda x, y : x + y

num1 = 4
num2 = 6
sum_func(num1, num2)

10

- Also known as Anonymous Functions

In [9]:
(lambda x, y : x + y)(4, 3)

7

### Modify the lambda function below to return both x+y and x-y

In [13]:
(lambda x, y : (x + y, x - y))(1,2)

(3, -1)

In [14]:
'''
if condition:
    do this
else:
    do that
'''

'''
if x%2 == 0:
    return even
else:
    return odd
'''
(lambda x: "even" if x%2 == 0 else "Odd")(5)

'Odd'

In [18]:
list1 = [[1, 2],
         [1, 1],
         [6, -7],
         [5, -7]]

sorted(list1)

[[1, 1], [1, 2], [5, -7], [6, -7]]

In [19]:
sorted(list1, key = lambda x : x[1])

[[6, -7], [5, -7], [1, 1], [1, 2]]

In [21]:
list1 = [[1,2],[1,1],[6,-7]]
#sorted(list1)
print(list1)
list1 = sorted(list1, key=lambda x:x[1])
print(list1)

[[1, 2], [1, 1], [6, -7]]
[[6, -7], [1, 1], [1, 2]]

Q: Sort the following list of dictionary according to Marks value:



```
Input:
students = [
    {"name": "A", "marks": 50},
    {"name": "B", "marks": 100},
    {"name": "C", "marks": 40},
    {"name": "D", "marks": 70},
    {"name": "E", "marks": 60},
]
```

```
Output
[{'name': 'E', 'marks': 60},
 {'name': 'D', 'marks': 70},
 {'name': 'C', 'marks': 40},
 {'name': 'B', 'marks': 100},
 {'name': 'A', 'marks': 50}]

In [23]:
students = [
    {"name": "A", "marks": 50},
    {"name": "B", "marks": 100},
    {"name": "C", "marks": 40},
    {"name": "D", "marks": 70},
    {"name": "E", "marks": 60},
]

In [29]:
dict1 = {"name": "A", "marks": 50}

dict2 = {"name": "B", "marks": 100}

dict1 > dict2

TypeError: '>' not supported between instances of 'dict' and 'dict'

In [30]:
dict1['marks'] > dict2['marks']

False

In [31]:
sorted(students, key = lambda dict1: dict1['marks'])

[{'name': 'C', 'marks': 40},
 {'name': 'A', 'marks': 50},
 {'name': 'E', 'marks': 60},
 {'name': 'D', 'marks': 70},
 {'name': 'B', 'marks': 100}]

In [39]:
list1 = ["abc", "aabc", "abcaa", "abdcdea"]
# sort this list based on count of a

In [43]:
list2 = sorted(list1, key=(lambda x: x.count('a')), reverse = True)
list2

['abcaa', 'aabc', 'abdcdea', 'abc']

In [32]:
"abc" > "dcb"

False

In [27]:
list1 = [[1, 2],
         [1, 1],
         [6, -7],
         [5, -7]]

sorted(list1, key = lambda x: x[1])

[[6, -7], [5, -7], [1, 1], [1, 2]]

In [35]:
### How to freeze variables


class A:
    def __myprivateFunc(self):
        print("InPrivate")
    def publifunc(self):
        self.__myprivateFunc()
        print("In Public")

a = A()
a.__myprivateFunc()

AttributeError: 'A' object has no attribute '__myprivateFunc'

In [36]:
a.publifunc()

InPrivate
In Public

In [44]:
help(sorted)

Help on built-in function sorted in module builtins:

sorted(iterable, /, *, key=None, reverse=False)
    Return a new list containing all items from the iterable in ascending order.

    A custom key function can be supplied to customize the sort order, and the
    reverse flag can be set to request the result in descending order.

In [46]:
class Parent:
  def __init__(self):
    print("parent class")

class Child(Parent): # inheriting parent class
  def __init__(self):
    Parent.__init__(self)
    print("child class")

c1 = Child()

parent class
child class

In [47]:
class Parent:
  def __init__(self):
    print("parent class")

class Child(Parent): # inheriting parent class
  def __init__(self):
    super().__init__() # calls immediate parents method
    print("child class")

c1 = Child()

parent class
child class

In [48]:
class Parent:
  def __init__(self):
    print("parent class")

  def hello(self):
    print("Parents Hello")

class Child(Parent): # inheriting parent class
  def __init__(self):
    super().hello() # calls immediate parents method
    print("child class")

c1 = Child()

Parents Hello
child class

In [ ]:
def removeDuplicates(nums: list[int]) -> int:
    nums = list(set(nums))
    nums.sort()
    print(len(nums))
    print(nums)
    return len(nums)
Z = [0,-1,1,1,1,2,2,3,3,4]
removeDuplicates(Z)

In [51]:
for n in range(10):
    print(n)

0
1
2
3
4
5
6
7
8
9

In [54]:
[n**2 for n in range(10)]

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [53]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]