<a href="https://colab.research.google.com/github/SachinScaler/July24Python2/blob/main/OOPS_1_Introduction%7CLecture.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
class Calculator:
    name = "Simple OOP based Calculator"

    def __init__(self, number1, number2):
        self.number1 = number1
        self.number2 = number2

    def add(self):
        return self.number1 + self.number2

c1 = Calculator(10, 12)
c1.add()

22

In [ ]:
c1.__dict__

{'number1': 10, 'number2': 12}

In [3]:
# behaviour
def add(num1, num2):
    return num1 + num2

# data: properties
a = 10
b = 20

In [4]:
add(a, b)

30

### How do we create an empty class and it's instances

In [6]:
class Student:
    pass

In [7]:
#instance of a Class
s1 = Student()

In [10]:
class BankAccount:
    pass

# name of instance = ClassName()
ba1 = BankAccount()

ba2 = BankAccount()

### isinstance

In [14]:
a = 10
isinstance(a, int) # true or False

True

In [17]:
isinstance(a, str)

False

In [13]:
a = 10
print(type(a))

<class 'int'>

In [16]:
a = []
a = list()

In [ ]:
ba1
s1

In [18]:
isinstance(ba1, BankAccount)

True

In [19]:
isinstance(ba1, Student)

False

In [20]:
isinstance(s1, Student)

True

### Exploration Task

In [21]:
isinstance(s1, object)

True

In [22]:
isinstance(a, object)

True

In [23]:
isinstance([], object)

True

In [24]:
isinstance(True, object)

True

In [25]:
isinstance(Student, object)

True

### With Data and Behaviour

In [ ]:
class BankAccount:
    pass

# name of instance = ClassName()
ba1 = BankAccount()

ba2 = BankAccount()

In [ ]:
ba1.deposit()

### class:
- data/variables
- functionalities/behaviour/methods

In [27]:
###
str1 = "Helllo"
str1.count('l')

3

In [28]:
len(str1)

6

In [29]:
class BankAccount:
    # methods
    def bankName():
        print("State Bank of India")

ba1 = BankAccount()

ba1.bankName()# call a method defined inside a class

TypeError: BankAccount.bankName() takes 0 positional arguments but 1 was given

### DO we even need instance to call Method?

### IMPORTANT
- Every single method that needs to be executed using an instance must have atleast one Parameter.
- This parameter stores the object itself.

In [31]:
class BankAccount:
    # methods
    def bankName(param1): # param1 stores the instance itself
        print("State Bank of India")

ba1 = BankAccount()

ba1.bankName()# call a method defined inside a class

State Bank of India

In [33]:
class BankAccount:
    # methods
    def bankName(param1):
        print(id(param1))

        print("State Bank of India")

ba1 = BankAccount()
print(id(ba1))

137407804799584

In [34]:
# method 1 of calling methods: Using Instance Variable: Popular
ba1.bankName()

137407804799584
State Bank of India

In [ ]:
# method 2 of calling methods: Using Class Itself
BankAccount.bankName(ba1) # ba1.bankName()

### WHY?

In [37]:
class BankAccount:
    # methods
    def bankName(self):
        print(id(self))
        print("State Bank of India")

ba1 = BankAccount()
ba2 = BankAccount()

In [38]:
ba1.bankName()

137407804798240
State Bank of India

In [39]:
ba2.bankName()

137407804784848
State Bank of India

In [41]:
class BankAccount:
    def __init__(self, acc_id, name, bankname , balance = 0):
        self.acc_id = acc_id # take accId as input and store that inside self
        self.name = name
        self.bankname = bankname
        self.balance = balance

ba1 = BankAccount(100, "Sachin Kaushik", "SBI", 100)

In [42]:
ba2 = BankAccount(101, "Jatin", "SBI", 1000)

In [46]:
ba2 = BankAccount(101, "Jatin", "SBI")

In [43]:
ba1.__dict__# dislay all attributes belonging to instance as Dictionary

{'acc_id': 100, 'name': 'Sachin Kaushik', 'bankname': 'SBI', 'balance': 100}

In [44]:
ba2.__dict__

{'acc_id': 101, 'name': 'Jatin', 'bankname': 'SBI', 'balance': 1000}

In [45]:
print(ba1)

<__main__.BankAccount object at 0x7cf8bf5bbe80>

In [ ]:
class Student:
    def __init__(self, name, age):
        self.name = name
        self.age = age

    def hello(self):
      print(f"Hello {self.name}")

bipin = Student("Ayush", 20)
bipin.hello()