<a href="https://colab.research.google.com/github/SachinScaler/July24Python2/blob/main/OOPS_2_Dunders%2C_Inheritance%7CLecture.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
class A:
    pass

In [ ]:
class BankAccount:

    def __init__(self, acc_no, amount):
        self.acc_no = acc_no
        self.amount = amount

    def checkBalance(self):
        return self.amount

ac1 = BankAccount(100, 10000)
ac1.checkBalance()

10000

In [ ]:
ac2 = BankAccount(101, 99)
ac2.checkBalance()

'101 99'

In [ ]:
ac1.amount

10000

### Try this later

In [ ]:
class BankAccount:

    def __init__(self, acc_no, amount):
        self
        self.acc_no = acc_no
        self.amount = amount

    def checkBalance(self):
        return ac1.amount

ac1 = BankAccount(100, 10000)
ac1.checkBalance()

10000

In [ ]:
ac2 = BankAccount(101, 9000)
ac2.checkBalance()

10000

### Class Variable

In [ ]:
class BankAccount:

    def __init__(self, bankname , acc_no, amount):
        self.bankname = bankname
        self.acc_no = acc_no
        self.amount = amount

    def checkBalance(self):
        return ac1.amount

ac1 = BankAccount("SBI",100, 10000)
ac2 = BankAccount("SBI",101, 999)
ac3 = BankAccount("SBI",102, 100)
ac4 = BankAccount("SBI",103, 999)

In [ ]:
BankAccount.bankname

AttributeError: type object 'BankAccount' has no attribute 'bankname'

In [ ]:
class BankAccount:
    # class/static variable
    bankname = "SBI"

    def __init__(self, acc_no, amount):
        self.acc_no = acc_no
        self.amount = amount

    def checkBalance(self):
        return ac1.amount

ac1 = BankAccount(100, 10000)
ac2 = BankAccount(101, 999)
ac3 = BankAccount(102, 100)
ac4 = BankAccount(103, 999)

In [ ]:
BankAccount.bankname

'SBI'

In [ ]:
ac1.bankname

'SBI'

In [ ]:
print(id(BankAccount.bankname))
print(id(ac1.bankname))
print(id(ac2.bankname))

135672289030768
135672289030768
135672289030768

In [ ]:
print(id(ac1.acc_no))
print(id(ac2.acc_no))

135673196547408
135673196547440

In [ ]:
# Method 1: change using ClassName
BankAccount.bankname = "Lunchtime Bank"

In [ ]:
print(BankAccount.bankname)
print(ac1.bankname)
print(ac2.bankname)

Lunchtime Bank
Lunchtime Bank
Lunchtime Bank

### EVERYTHING GETS THE UPDATE

In [ ]:
# Method 2: change using InstanceName
ac1.bankname = "SBI" # creates a new instance var only for ac1 "Since the ClassVar is immutable"

print(BankAccount.bankname)
print(ac1.bankname)
print(ac2.bankname)

Lunchtime Bank
SBI
Lunchtime Bank

### METHOD2 Will create a new instance variable sepcific to only ac1

To Try: Create a classVar as List and update that using method1 as well as Method2

In [ ]:
class A:
    print("Am I a class?")


A() # inst1
obj1 = A() #inst2
if A(): # inst3
    print(A()) # inst4

Am I a class?
<__main__.A object at 0x7b64c70df9a0>

In [ ]:
class A:
    def __init__(self):
        print("Am I a class?")

A() # inst1
obj1 = A() #inst2
if A(): # inst3
    print(A()) # inst4

Am I a class?
Am I a class?
Am I a class?
Am I a class?
<__main__.A object at 0x7b64c70dfe50>

In [ ]:
class BankAccount:
    # class/static variable
    bankname = "SBI"

    def __init__(self, acc_no, amount):
        self.acc_no = acc_no
        self.amount = amount

    def checkBalance(self):
        return ac1.amount


ac1 = BankAccount(100, 10000)
print(ac1)

<__main__.BankAccount object at 0x7b64aa8939a0>

In [ ]:
ac2 = BankAccount(101, 999)

In [ ]:
ac1 + ac2

TypeError: unsupported operand type(s) for +: 'BankAccount' and 'BankAccount'

In [ ]:
class BankAccount:
    # class/static variable
    bankname = "SBI"

    def __init__(self, acc_no, amount):
        self.acc_no = acc_no
        self.amount = amount

    def checkBalance(self):
        return ac1.amount

    def __str__(self):
        output = f"{BankAccount.bankname}\nAcc_no: {self.acc_no}"
        return output

    def __add__(self, obj2):
        return self.amount + obj2.amount
        self.__randomdunder__()

    def __randomdunder__(self):
        print("Hi")

ac1 = BankAccount(100, 10000)
ac2 = BankAccount(101, 999)
print(ac1)
print(ac2)

SBI
Acc_no: 100
SBI
Acc_no: 101

In [ ]:
ac1.__randomdunder__()

Hi

In [ ]:
ac1 + ac2

10999

In [ ]:
dir(ac1)

['__add__',
 '__class__',
 '__delattr__',
 '__dict__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__le__',
 '__lt__',
 '__module__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 '__weakref__',
 'acc_no',
 'amount',
 'bankname',
 'checkBalance']

In [ ]:
### To Try:
### Implement
# __eq__ --> ==
# __gt__ --> >
# __le__ -- <=


### ReadAbout
# __new__

In [ ]:
ac1 = BankAccount(100, 10000)
ac2 = BankAccount(101, 10000)
ac1 == ac2 # implement logic to check balance and return true or false for equal bal or not equal bal

False

In [55]:
class A:
  def __init__(self, a):
    self.a = a
  def __add__(self, b):
    if isinstance(b, int):
      return A(self.a + b) # ins3 + int
    return A(self.a + b.a) # ins3 = ins1 + ins2
  def __str__(self):
    return f"{self.a}"

one = A(1)
two = A(2)

# ins1 + ins2 + int
print(one + two + 100)

103

```
step1 : ins1 + ins2
        self + B -->  isinstance(b, int)

step2: ins3 + 100
        self + B

```

In [ ]:
class A:
  def __init__(self, a):
    self.a = a
  def __add__(self, b):
    return A(self.a + b.a) # ins3 = ins1 + ins2
  def __str__(self):
    return f"{self.a}"

a1 = A(100)
a2 = A(200)
a1 + a2

### INHERITANCE

In [56]:
class Parent:
    x = 100

class Child:
    pass

c1 = Child()
c1.x

AttributeError: 'Child' object has no attribute 'x'

In [57]:
class Parent:
    x = 100

class Child(Parent):
    pass

c1 = Child()
c1.x

100

In [60]:
class Parent:
    x = 100

class Child(Parent):
    x = 99

c1 = Child()
c1.x

99

```
class Parent: #class Parent(object)
    x = 100
```

In [63]:
dir(Parent)

['__class__',
 '__delattr__',
 '__dict__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__le__',
 '__lt__',
 '__module__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 '__weakref__',
 'x']

In [62]:
class A:
    pass

dir(A)

['__class__',
 '__delattr__',
 '__dict__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__le__',
 '__lt__',
 '__module__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 '__weakref__']

### EVERY ENTITY/CLASS IN Python inherits from object

In [66]:
class Parent:
  def __init__(self):
    print("parent class")

class Child(Parent): # inheriting parent class
  def __init__(self):
    print("child class")

c1 = Child()

child class

In [67]:
p1 = Parent()

parent class

In [71]:
class Parent:
  def __init__(self):
    print("parent class")

class Child(Parent): # inheriting parent class
  def __init__(self):
    # method1:
    super().__init__() # using super keyword
    print("child class")

c1 = Child()

parent class
child class

In [72]:
class Parent:
  def __init__(self):
    print("parent class")

class Child(Parent): # inheriting parent class
  def __init__(self):
    # method2: using parent itself as pass child as self
    Parent.__init__(self)
    print("child class")

c1 = Child()

parent class
child class

In [73]:
c2 = Child()

parent class
child class

In [74]:
c3 = #

parent class
child class

WHY???

In [89]:
class ScalerMember:
    def __init__(self, email):
        self.email = email


class Instructor(ScalerMember):
    def __init__(self, email, salary):
        self.salary = salary


class Learner(ScalerMember):
    def __init__(self, email, fee):
        super().__init__(email)
        self.fee = fee

l1 = Learner("L1@gmail.com", 5000)

In [90]:
l1.fee

5000

In [91]:
l1.email

'L1@gmail.com'

In [92]:
class ScalerMember:
    def __init__(self, name):
        self.name = name

class Learner(ScalerMember):
    def __init__(self, name, grade):
        super().__init__(name)
        # super() automatically corresponds to the direct parent class
        self.grade = grade

class Staff(ScalerMember):
    def __init__(self, name, salary):
        super().__init__(name)
        self.salary = salary

class Instructor(Staff):
    def __init__(self, name, salary, subject):
        super().__init__(name, salary)
        self.subject = subject

ins = Instructor("SACHIN", 10, "GenAI")

In [94]:
ins.name

'SACHIN'

In [95]:
ins.salary

10

In [96]:
ins.subject

'GenAI'

### Access Specifier

In [97]:
class BankAccount:
    def __init__(self, acc_no, amount):
        self.acc_no = acc_no
        self.amount = amount

    def checkBalance(self):
        return self.amount

ac1 = BankAccount(100, 10000)
ac1.checkBalance()

10000

In [98]:
ac1.amount

10000

In [99]:
ac1.amount = 1000000000000

In [100]:
ac1.checkBalance()

1000000000000

In [102]:
class BankAccount:
    def __init__(self, acc_no, amount):
        self.acc_no = acc_no
        self.__amount = amount

    def checkBalance(self):
        return self.__amount

ac1 = BankAccount(100, 10000)
ac1.checkBalance()

10000

In [103]:
ac1.amount

AttributeError: 'BankAccount' object has no attribute 'amount'

In [104]:
ac1.__amount

AttributeError: 'BankAccount' object has no attribute '__amount'

In [105]:
ac1.checkBalance()

10000

In [106]:
ac1.__amount = 10000000000

In [107]:
ac1.checkBalance()

10000

In [110]:
class BankAccount:
    def __init__(self, acc_no, amount):
        self.acc_no = acc_no
        self.__amount = amount

    # getter
    def checkBalance(self):
        return self.__amount

    # setter
    def deposit(self, new_balance):
        self.__amount = new_balance

ac1 = BankAccount(100, 10000)
ac1.checkBalance()

10000

In [111]:
ac1.deposit(99999)
ac1.checkBalance()

99999

In [113]:
ac1.__amount = 13
ac1.checkBalance()

99999

In [115]:
var = 99
class A:
    print(var)
    c1 = 100

class B:
    print(var)
    c2 = 200

In [117]:
a1=A()
a1.c1

100

In [118]:
b1 = B()
b1.c1

AttributeError: 'B' object has no attribute 'c1'

In [119]:
print(var)

99

In [120]:
var

99

In [ ]:
### + , <, ==, print, for

In [123]:
class Student:
    def __init__(self,roll,marks):
        self.roll = roll
        self.marks = marks
    def display(self):
        print('Roll:', self.roll,'Marks:',self.marks, end=" ")


student1 = Student(34,'A')
print(student1.display())

Roll: 34 Marks: A None

In [ ]:
student1.display()

In [132]:
class A:
    def func1(self):
        print("In Parent")

class B(A):

    def __init__(self):
        print("In Child")

    def func2(self):
        super().func1()

b1 = B()

In Child

In [133]:
b1.func2()

In Parent

In [139]:
def func(str1: str, str2 : str) -> None:
    return str1 + str2

func("sachin", "kaushik")

'sachinkaushik'

In [140]:
func(1, "kaushik")

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [145]:
from typing import List # type hints/ typeannotations

def func(str1: str, str2 : List[List]) -> str:
    return str1 + str2

func("sachin", "kaushik")

'sachinkaushik'

In [144]:
def func(str1: str, str2 : list[list]) -> None:
    return str1 + str2

func("sachin", "kaushik")

'sachinkaushik'