<a href="https://colab.research.google.com/github/SachinScaler/July24Python2/blob/main/Regex%7CLecture.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
demo_string = "my number is 8586 83 6627 and pincode is 110086"

In [2]:
import re # regex in python

In [3]:
!gdown 1sSDV5UspYZL3UUOGuiuxppSGcv1wS9ex

Downloading...
From: https://drive.google.com/uc?id=1sSDV5UspYZL3UUOGuiuxppSGcv1wS9ex
To: /content/data.txt
100% 9.33k/9.33k [00:00<00:00, 13.8MB/s]

In [ ]:
ph1 = "8586 83 6627"
ph2 = "110086"

### Homework:
```
assuming: DD MM YYYY
"""
DOB 12 01 1995
DOB 31-01-1995
NOT DOB 31-01-2025
DOB 2/1/1995
DOB 02/01/1995
DOB 16.11.1995
NotDOB 16.54.1995
"""
```
Extract only valid DOB Value from above string

### Important re functions -
- match : Checks for a match only at the beginning of the string.
- search : Finds out the first occurence of the pattern in data.
- findall : Finds all the occurences of the pattern in data
- finditer : Finds all occurrences of a pattern in a string and return an iterator that produces match objects for each match found.

Function to do string manipulation -
- sub : Searches and replaces a string.
- split : Split the text by the given regular expression pattern.

In [4]:
pattern = "\d{3}-\d{3}-\d{4}"

data = "Hello 999-999-9999"
print(re.match(pattern, data))

None

In [6]:
pattern = "\d{3}-\d{3}-\d{4}"

data = "999-999-9999 heho"
print(re.match(pattern, data))

<re.Match object; span=(0, 12), match='999-999-9999'>

In [7]:
pattern = "\d{3}-\d{3}-\d{4}"

data = "Hello 999-999-9999"
print(re.search(pattern, data))

<re.Match object; span=(6, 18), match='999-999-9999'>

In [8]:
pattern = "\d{3}-\d{3}-\d{4}"

data = "999-999-9999 heho"
print(re.search(pattern, data))

<re.Match object; span=(0, 12), match='999-999-9999'>

### read file into string

In [9]:
data = open("data.txt", "r").read()
print(data[:500]) # display first 500 characters

Dave Martin
615-555-7164
173 Main St., Springfield RI 55924
davemartin@bogusemail.com

Charles Harris
800-555-5669
969 High St., Atlantis VA 34075
charlesharris@bogusemail.com

Eric Williams
560-555-5153
806 1st St., Faketown AK 86847
laurawilliams@bogusemail.com

Corey Jefferson
900-555-9340
826 Elm St., Epicburg NE 10671
coreyjefferson@bogusemail.com

Jennifer Martin-White
714-555-7405
212 Cedar St., Sunnydale CT 74983
jenniferwhite@bogusemail.com

Erick Davis
800-555-6771
519 Washington St.,

In [12]:
pattern = "\d{3}-\d{3}-\d{4}"

output = (re.findall(pattern, data))

In [15]:
type(output), len(output)

(list, 100)

In [16]:
output[:5]

['615-555-7164',
 '800-555-5669',
 '560-555-5153',
 '900-555-9340',
 '714-555-7405']

- Finditer
- How do make these case insensitive without chaning pattern
- Docstring

Choose the function whose output can be:
```
<re.Match object; span=(4, 8), match=’aaaa’>

a) re.search('aaaa', 'alohaaaa')
b) re.search('aaa', 'alohaaaa')

```

What is the output of the code shown below?
```
x='[0-9]+'
re.findall(x, '7 apples and 4 mangoes and 21 bananas')
```

In [19]:
x='[0-9]+'
re.findall(x, '7 apples and 4 mangoes and 21 bananas')

['7', '4', '21']

### - Pattern to extract Emails

In [22]:
re.findall("a+", "abc")
#this is returning 4 elements. WHY?

['a']

In [ ]:
# "a", "", "", ""
#sachin

- Numpy
- Pandas
- statistics

In [ ]:
 # e = 1/1! ​+ 1/2! + 1/3! ​+......+n!1​
import math
result = 1
for i in range(1,7): # o(n)
    result += _______________#blank1 # o(n)
    print(round(result,2))

In [26]:
import math

math.factorial(2)

2

In [25]:
# dir(math)

['__doc__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 'acos',
 'acosh',
 'asin',
 'asinh',
 'atan',
 'atan2',
 'atanh',
 'ceil',
 'comb',
 'copysign',
 'cos',
 'cosh',
 'degrees',
 'dist',
 'e',
 'erf',
 'erfc',
 'exp',
 'expm1',
 'fabs',
 'factorial',
 'floor',
 'fmod',
 'frexp',
 'fsum',
 'gamma',
 'gcd',
 'hypot',
 'inf',
 'isclose',
 'isfinite',
 'isinf',
 'isnan',
 'isqrt',
 'lcm',
 'ldexp',
 'lgamma',
 'log',
 'log10',
 'log1p',
 'log2',
 'modf',
 'nan',
 'nextafter',
 'perm',
 'pi',
 'pow',
 'prod',
 'radians',
 'remainder',
 'sin',
 'sinh',
 'sqrt',
 'tan',
 'tanh',
 'tau',
 'trunc',
 'ulp']

In [29]:
fact = 1
num = 3
for i in range(1,num + 1): # o(n)
    fact = fact* i
print(fact)

6